:root {
    --black: #000;
    --anthracite: #333;
    --gray: #696969;
    --silver: #afafaf;
    --mercury: #e3e3e3;
    --white: #fff;
    --depot: #f58220;
    --joy: #f95540;
    --growth: #00ca8b;
    --intelligence: #fbbf44;
}
