@import 'reeeset/dist/reeeset.min.css';
@import './layout.pcss';

@lost gutter 32px;
@lost flexbox flex;

body {
    background: #F9F9F9;
}

.container {
    lost-center: 1280px;
    margin-top: calc(var(--standardUnit) * 4);
}
