.no-margin { margin: 0; }

.label-1 {
    font-size: 1.25rem;
    font-weight: 300;
}

.label-2 {
    font-size: 1.125rem;
    font-weight: 400;
}

.label-bold {
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.caption {
    font-size: 0.875rem;
}

.body {
    font-size: 1rem;
}
